# Ignore data
/data

# Ignore images outputted during regridding
/src/regridding/*.fits
/src/regridding/*.xml

# Ignore temporary .sh files 
/src/*/tmp_*
/src/*/myfile.sh*

# Ignore miscellaneous plots and code
/plots/misc
/src/miscellaneous

# Ignore on-the-fly swarp outputs
/src/*/EUC_MER*
/src/*/*/EUC_MER*

# Ignore depth outputs
/src/depths/check.*
/src/depths/.nfs*
/src/*/__pycache__/*

/src/regridding/tweak_new.py
