# Ignore data
/data

# Ignore images outputted during regridding
/src/regridding/*.fits
/src/regridding/*.xml
/src/regridding/*.tmp

# Ignore ALL fits files in src
/src/*/*.fits

# Ignore temporary .sh files 
/src/*/tmp_*
/src/*/myfile.sh*

# Ignore miscellaneous plots and code
/plots/misc
/src/miscellaneous

# Ignore on-the-fly swarp outputs
/src/*/EUC_MER*
/src/*/*/EUC_MER*

# Ignore depth outputs
/src/depths/check.*
/src/depths/.nfs*
/src/*/__pycache__/*

/src/regridding/tweak_new.py

# Ignore SED fitting outputs
/data/sed_fitting/*

/plots/cutouts/*
/plots/seds/*

/plots/

# Ignore images for the injection recovery
/src/injection_recovery/images
/src/injection_recovery/catalogues
/src/injection_recovery/shell_scripts
/src/injection_recovery/*.fits
/src/injection_recovery/*.bin

/src/full_injection_recovery/images
/src/full_injection_recovery/catalogues
/src/full_injection_recovery/shell_scripts
/src/full_injection_recovery/*.fits
/src/full_injection_recovery/*.bin
/src/full_injection_recovery/*run_worker*
/src/full_injection_recovery/runtime_done
/src/full_injection_recovery/runtime_task

/src/injrec_sed_fitting/catalogues
/src/injrec_sed_fitting/__pycache__

# Ignore bagpipes outputs
/src/sed_fitting/pipes/*

# Ignore euclid cutouts
/src/cutouts/stamps/*

# Ignore intermediate files from swarp
/src/file_management/*.fits
/src/file_management/*.tmp

# Ignore tables in priors folder
/src/priors/*.fits

# Ignore catalogues
/src/catalogues/*.fits

/src/jwst_proposal/cutouts/*
